@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --font1 : 'Red Hat Display', sans-serif;
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

body {
    font-family: var(--font1);
    background: var(--Pale-blue);
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.contenedor {
    width: 327px;
    height: 570px;
    border-radius: 20px;
    overflow: hidden;
    border-radius: 20px;
}
.card {
    padding: 35px 23px;
    background: #fff;
}
.hero{
    height: 160px;
}
.hero img {
    width: 100%;
}
.texto {
    font-size: 15px;
    text-align: center;
}
.texto h1 {
    font-size: 1.5em;
}
.texto p {
    margin: 15px 0;
}

.text-dark {
    color: var(--Dark-blue);
    font-weight: 700;
    margin: 0;
}
.text-desaturate {
    color: var(--Desaturated-blue);
    line-height: 25px;
}
.plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-radius: 10px;
    background: var(--Very-pale-blue);
}
.plan-texto p{
    margin: 0;
}
.cambiar {
    color: var(--Bright-blue);
    transition: opacity ease .5s;
}
.plan .music {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}
.botones{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}
.btn {
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-azul {
    background:var(--Bright-blue);
    color: #fff;
    transition: box-shadow, opacity ease .5s;
}
.btn-transparente {
    background: transparent;
    color: var(--Desaturated-blue);
    transition: color ease .5s;
}
@media screen and (min-width:1000px){
    body {
        background-image: url("../images/pattern-background-desktop.svg");
        background-position: top;
    }
    .contenedor {
        width: 450px;
        height: 700px;
    }
    .texto {
        font-size: 16px;
    }
    .texto h1 {
        font-size: 1.6em;
        font-weight: 800;
    }

    .texto p {
        margin: 30px 0 20px 0;
    }
    .hero {
        height: 220px;
    }
    .card {
        padding: 50px 48px;
    }
    .plan {
        padding: 25px;
    }
    .botones{
        margin-top: 30px;
        gap: 20px;
    }

    .btn {
        cursor: pointer;
    }
    .btn-azul:hover {
        opacity: .6;
        box-shadow: 0px 15px 20px #0002;
    }
    .btn-transparente:hover {
        color: var(--Dark-blue);
    }
    .cambiar:hover {
        opacity: .8;
    }
}
